:root {
  /* primary + variants */
  --c-primary: hsl(170, 100%, 50%);
  --c-primary-alpha-10: hsla(170, 100%, 50%, 0.1);
  --c-primary-alpha-25: hsla(170, 100%, 50%, 0.25);
  --c-primary-alpha-50: hsla(170, 100%, 50%, 0.5);
  --c-primary-dark: hsl(170, 100%, 40%);
  --c-primary-text: hsl(170, 100%, 5%);
  
  /* accent */
  --c-error: hsl(0, 100%, 60%);
  
  /* transition */
  --t-fast: 200ms ease;
}

.title {
  font-size: 2.5rem;
  color: var(--c-primary);
  font-weight: 800;
  margin: 1rem;
}

.newTaskForm {
  display: flex;
  justify-content: space-between;
  width: min(350px, 100%);
  background-color: var(--c-primary-alpha-10);
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.formInput,
.formBtn {
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  padding: .5rem 1rem;
  transition: var(--t-fast);
}

.formInput {
  flex-grow: 1;
  min-width: 0;
  background: transparent;
  border: 2px solid var(--c-primary-alpha-10);
  border-right: none;
  border-radius: 1rem 0 0 1rem;
  color: var(--c-primary);
}

.formInput::placeholder {
  color: inherit;
}

.formInput:hover,
.formInput:focus {
  border-color: var(--c-primary-alpha-50);
}

.formBtn {
  flex-shrink: 0;
  border: none;
  border-radius: 0 1rem 1rem 0;
  font-weight: 600;
  color: var(--c-primary-text);
  background-color: var(--c-primary);
  cursor: pointer;
}

.formBtn:hover {
  background-color: var(--c-primary-dark);
}

.formBtn:active {
  background-color: var(--c-primary);
}

.errorDisplay {
  color: var(--c-error);
  font-weight: 600;
  margin-bottom: 1rem;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  width: min(500px, 100%);
  background-color: var(--c-primary-alpha-10);
  border: 2px solid var(--c-primary-alpha-25);
  border-radius: .5rem;
  box-shadow: 0 0 10px var(--c-primary-alpha-25);
}

.listWrapper > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
  border: 1px solid var(--c-primary-alpha-10);
}

.task {
  flex-grow: 1;
  min-width: 0;
  color: var(--c-primary);
}

.controlsWrapper {
  display: flex;
  gap: .5rem;
}

.controlsWrapper button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: .25rem .5rem;
  border-radius: .25rem;
  transition: filter var(--t-fast);
}

.deleteBtn {
  background-color: var(--c-error);
  color: var(--c-primary-text);
  font-weight: 600;
}

.moveBtns {
  background-color: var(--c-primary);
}

.deleteBtn:hover,
.moveBtns:hover {
  filter: brightness(85%);
}

@media screen and (min-width: 500px) {
  .listWrapper > li {
    flex-direction: row;
    justify-content: space-between;
  }
}